
@{
    ViewBag.Title = "EmployeDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-12">
        <h2>EmployeDetail</h2>

        <table class="table table-striped">
            MODEL TABLO
            <tr><td><b>ID</b> @ViewBag.Id</td></tr>
            <tr><td><b>NAME</b>@ViewBag.name</td></tr>
            <tr><td><b>DEPARTMENT </b>@ViewBag.departmentname</td></tr>
            <tr><td><b>COUNTRY</b> @ViewBag.adress </td></tr>

        </table>
        

    </div>

</div>


